sudo: required
services:
  - docker

before_install:
  - docker build -t deepakbhatt74/react-test -f client/Dockerfile.dev ./client

scripts: 
  - docker run  -e CI=true deepakbhatt74/react-test npm run test

after_success:
  docker build -t deepakbhatt74/multi-client ./client
  docker build -t deepakbhatt74/multi-nginx ./nginx
  docker build -t deepakbhatt74/multi-server ./server
  docker build -t deepakbhatt74/multi-worker ./worker

# Login to docker environment
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

# push it to docker hub
- docker push deepakbhatt74/multi-client
- docker push deepakbhatt74/multi-nginx
- docker push deepakbhatt74/multi-server
- docker push deepakbhatt74/multi-worker

